{% extends "main/main_page.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'main/css/main/my_plans/my_plans.css' %}">

    {% if authenticated_user == username %}
        <div>
            TEST
        </div>
    {% else %}
        <div class="content">
            <img src="{% static 'main/icons/red_pepper.svg' %}" class="content__logo" alt="logo">
            <div class="content__text">You have no plans</div>
            <a href="{% url 'main:catalog' %}" class="content__link">Refer to Catalog</a>
        </div>
    {% endif %}
{% endblock %}