body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Montserrat, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 51px;
}

.container__logo__img {
    height: 350px;
}

.container__content {
    width: 100%;
    border: 1px #DADADA solid;
    padding: 60px 46px 85px;
}

.container__content__username__label {
    display: block;
    color: #8B8B8B;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.35px;
}

.container__content__username__input {
    color: #7D7D7D;
    width: 100%;
    border: none;
    border-bottom: 1px solid #AEAEAE;
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.35px;
}

.container__content__password__label {
    display: block;
    color: #8B8B8B;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.35px;
}

.container__content__password__input {
    color: #7D7D7D;
    width: 100%;
    border: none;
    border-bottom: 1px solid #AEAEAE;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.35px;
}

.container__content__signup {
    color: #ACACAC;
    margin-bottom: 58px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.35px;
}

.container__content__signup__button {
    margin: 0;
    padding: 0;
    color: #5ED84B;
    border-style: none;
    background: none;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.35px;
}

.container__content__buttons {
    display: flex;
    flex-direction: column;
}

.container__content__buttons__next {
    background: #4AB03A;
    color: #FFFFFF;
    border-style: none;
    border-radius: 20px;
    margin-bottom: 25px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'ss02' on;
}

.container__content__buttons__forgot-password {
    background: #FFFFFF;
    color: #626262;
    border: 3px solid #626262;
    border-radius: 20px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'ss02' on;
}

/*body, html {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*    background: #7abecc !important;*/
/*}*/

/*.user_card {*/
/*    width: 350px;*/
/*    margin-top: auto;*/
/*    margin-bottom: auto;*/
/*    background: #74cfbf;*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    padding: 10px;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    border-radius: 5px;*/
/*}*/

/*.form_container {*/
/*    margin-top: 20px;*/
/*}*/

/*#form-title{*/
/*    color: #fff;*/
/*}*/

/*.login_btn {*/
/*    width: 100%;*/
/*    background: #33ccff !important;*/
/*    color: white !important;*/
/*}*/

/*.login_btn:focus {*/
/*    box-shadow: none !important;*/
/*    outline: 0 !important;*/
/*}*/

/*.login_container {*/
/*    padding: 0 2rem;*/
/*}*/

/*.input-group-text {*/
/*    background: #f7ba5b !important;*/
/*    color: white !important;*/
/*    border: 0 !important;*/
/*    border-radius: 0.25rem 0 0 0.25rem !important;*/
/*}*/

/*.input_user, .input_pass:focus {*/
/*    box-shadow: none !important;*/
/*    outline: 0 !important;*/
/*}*/

/*#messages{*/
/*    background-color: grey;*/
/*    color: #fff;*/
/*    padding: 10px;*/
/*    margin-top: 10px;*/
/*}*/