{% extends 'main/settings/settings.html' %}
{% load static %}

{% block right %}
    <link rel="stylesheet" href="{% static 'main/css/main/settings/logout.css' %}">

    <div class="container">
        <div class="container__content">
            <div class="container__content__logout">Log out</div>
            <div class="container__content__text">Would you like to log out?</div>
            <div class="container__content__buttons">
                <a class="container__content__buttons__button" href="{% url 'main:logout_user' %}">Log out</a>
            </div>
        </div>
    </div>
{% endblock %}