{% extends 'main/settings/settings.html' %}
{% load static %}

{% block right %}
    <link rel="stylesheet" href="{% static 'main/css/main/settings/order_history.css' %}">
    
    <div class="container">
        <div class="container__content">
            <div class="container__content__block">
                <div class="container__content__block__info">
                    <div class="container__content__block__info__text">
                        1200 kcal | 14 000 ₸
                    </div>
                    <div class="container__content__block__info__diagram">
                        <div class="container__content__block__info__diagram__percents">
                            15%
                        </div>
                        <div class="container__content__block__info__diagram__progress">
                            <div class="container__content__block__info__diagram__progress__active"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}